[submodule "MaximVarlamov"]
  path = MaximVarlamov
  url = https://github.com/CodingHelpers/MaximVarlamov
  ignore = all

[submodule "GlebRevunov"]
  path = GlebRevunov
  url = https://github.com/CodingHelpers/GlebRevunov
  ignore = all

[submodule "ValerySolomatin"]
  path = ValerySolomatin     
  url = https://github.com/CodingHelpers/ValerySolomatin
  ignore = all

[submodule "DimaKorol"]
  path = DimaKorol     
  url = https://github.com/CodingHelpers/DimaKorol
  ignore = all

[submodule "KatiTimofeeva"]
  path = KatiTimofeeva     
  url = https://github.com/CodingHelpers/KatiTimofeeva
  ignore = all

[submodule "DaniilPotashev"]
  path = DaniilPotashev     
  url = https://github.com/CodingHelpers/DaniilPotashev
  ignore = all
